@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-primary: #22c55e;
  --color-primary-hover: #16a34a;
  --color-primary-foreground: #ffffff;

  --color-secondary: #dcfce7;
  --color-secondary-hover: #bbf7d0;
  --color-secondary-foreground: #16a34a;

  --background-image-cta: url("/hero-bg.png");
}

@layer base {
  body {
    font-family: var(--font-sans);
    font-optical-sizing: auto;
    background: #fff9ef;
  }

  main {
    @apply min-h-screen relative;
  }
}
